
<section class="container">
  <div class="bg container-fluid row">
    <article class="welcome col">
      <h1>Time to work out!</h1>
      <p>Remember, great workout results from </p>
      <ul>
        <li>passion</li>
        <li>not giving up </li>
        <li>feeling of success</li>
        <li>sweating</li>
      </ul>
    </article>
  </div>

  <section class="priBtnContainer row justify-content-center">
    <div class="col">
      <button id="add" class="btn btn-primary btn-block" [routerLink]="['/counter']">Add new results</button>
    </div>
    <div class="col">
      <button id="history" class="btn btn-primary btn-block" [routerLink]="['/fetch-data']">Check previous records</button>
    </div>
  </section>

  <section class="row">
    <footer class="footer">
    <div class="foot-container">
      <p id="motivation">"What seems impossible today will one day become your warm-up."</p>
    </div>
  </footer>
  </section>

</section>
