<section class="content">

  <section class="row">
    <section class="col  start">
      <h1 id="tableLabel">Workout history</h1>
      <p>Select below which workout results you want to view.</p>
    </section>
  </section>

  <section class=" row justify-content-start dropdowns">
    <select id="first" class = "col-5 form-control form-control-lg" ng-model="selectedUser" (change)="selUser($event.target.value)">
      <option value="select">--Select user--</option>
      <option value="allUsers">All users</option>
      <option *ngFor="let user of users" value="{{user.userName}}">{{user.userName}}</option>
    </select>

    <select id="second" class = "col-6 form-control form-control-lg" ng-model="selectedExercise" (change)="selExercise($event.target.value)">
      <option value="select">--Select exercise--</option>
      <option value="allExercises">All exercises</option>
      <option *ngFor="let exercise of exercises" value="{{exercise.exerciseName}}">{{exercise.exerciseName}}</option>
    </select>
  </section>

  <section class="row start">
    <p class="col">How many records? (-1 = all records)</p>
  </section>

  <section class="row line justify-content-start">
    <input class="col-3 input" [(ngModel)]="quantity" type="number" min="-1">
    <button class="col-5 btn btn-primary" (click)="fetchSorted()">Get results</button>
  </section>

  <section class="resultContainer">
    <p *ngIf="!results"><em>Loading...</em></p>
    <h4>Results...</h4>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="results">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Exercise</th>
          <th>Repeats</th>
          <th>Weight</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>{{ result.date }}</td>
          <td>{{ result.user.userName }}</td>
          <td>{{ result.exercise.exerciseName }}</td>
          <td>{{ result.repeats }}</td>
          <td>{{ result.weight }}</td>
        </tr>
      </tbody>
    </table>
  </section>

</section>
