body {
}
.query {
  background-image: url("../../assets/fetch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  min-height: 370px;
  height: 100%;
}
.query h1 {
    margin-top:10px;
    margin-bottom:20px;
}

.content {
  font-size:18px;
  
  color: #3eed24;
  text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black, -0.04em -0.04em black, -0.04em 0.04em black, 0.04em -0.04em black, 0.04em 0.04em black;
}
.content > * {
  padding: 5px;
}

.resultContainer {
    text-shadow:none;
}

.form-control-lg {
  font-size: 0.9rem;
  padding: 0px;
  background-color: #1c0357;
  color: #d3cae8;
  border: solid 1px black;
  height: 50px;
}

#first {
  margin-right: 3px;
  border: solid 1px black;
}

#second {
  border: solid 1px black;
}
.dropdowns {
  margin-left: 2px;
  margin-right: 2px;
  justify-content: space-around;
  padding-bottom: 15px;
}

.line {
    padding: 10px;
}
#question {
    font-size:15px;
}

.line > * {
    margin-left:20px;
    margin-top:30px;
}

.input {
  border-radius: 5px;
  background-color: #1c0357;
  color: #d3cae8;
  height:30px;
}
.btn-primary {
  background-color: #3eed24;
  color: #1c0357;
  border-color: rgb(45, 92, 43);
  height: 100%;
  min-height: 50px;
  font-weight:600;
}
#hide {
  background-color: rgb(217, 0, 83);
  color: #d3cae8;
}

#graphButton {
    font-size:16px;
}

#res {
    display:none;
}
#myChart {
    display:none;
}

.resultContainer {
  text-shadow: none;
}

.resultContainer h4 {
  color: rgb(217, 0, 83);
}

.table td, .table th {
    font-size:12px;
    padding:4px 9px!important;
}
.footer {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  color: #1c0357;
  background-color: rgb(204, 203, 202);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 0.5px solid rgb(169, 171, 167);
  border-width: 0.5px 0 0 0;
  text-shadow: none;
  display:block;
}


#motivation {
  font-style: italic;
}
