html {
  height: 100%;
}

body {
  height: 100%;
 margin-bottom:70px;

}
.content {
  align-content: center;
  color: #3eed24;
  text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black, -0.04em -0.04em black, -0.04em 0.04em black, 0.04em -0.04em black, 0.04em 0.04em black;
  background-color: whitesmoke;
}

.start {
  background-image: url('../../assets/gym1.jpg');
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5px;
}
ol {
    margin-top:10px;
}

ol li {
    font-size:20px;
    list-style-position:inside;
}
.content > * {
    padding:5px;
    
}

h1 {
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #3eed24;
  text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black, -0.04em -0.04em black, -0.04em 0.04em black, 0.04em -0.04em black, 0.04em 0.04em black;
}
.dropdowns {
    margin-left:2px;
    margin-right: 2px;
    justify-content:space-around;
    padding-bottom:15px;
}

.row {
    margin-top:10px;
}
.form-control-lg {
  font-size: 0.9rem;
  padding: 0px;
  background-color: #1c0357;
  color: #d3cae8;
  border: solid 1px black;
  height: 50px;
}

.selectionContainer {
  margin-top:10px;
  margin-bottom:0px;
}

#reps {
  border: solid 1px black;
  background-color: #1c0357;
  color: #d3cae8;
  margin-left: 1px;
  margin-right: 5px !important;
  height:50px;
}
#weig {
  border: solid 1px black;
  background-color: #1c0357;
  color: #d3cae8;
  height:50px;
}
::placeholder {
  color: #d3cae8;
  opacity:1;
}

h5 {
    margin-top:10px;
}

#repcontainer {
  padding-right:0px !important;
}
#weightcontainer {
    padding-left:0px !important;
}
#numberinput {
    margin-bottom:5px;
}
.x {
  padding: 0px;
  padding-bottom: 10px;
  text-align: center;
  color: #1c0357;
 text-shadow:none;
  
}

.btn-primary {
  background-color: #3eed24;
  min-height: 70px;
  min-width: 60px;
  color: black;
  font-weight: 600;
  border-color: #1c0357;
  border-radius: 50%;
}
#margin5 {
    margin-top:0px;
}

#toResults {
    font-size:12px;
  background-color: #1c0357;
  color: #d3cae8;
 min-width: 20%;
 margin-right:10px;

}


.footer {
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  color: #1c0357;
  background-color: rgb(204, 203, 202);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 0.5px solid rgb(169, 171, 167);
  border-width: 0.5px 0 0 0;
  text-shadow:none;

}
.end {
    margin-top:0px;
    margin-bottom:50px;
}

#motivation {
  font-style: italic;
  
}

@media only screen and (min-width: 1023px) {
    .start {
        min-height: 300px;
    }
    .start h1 {
        margin-bottom:20px;
    }
    .footer {
        height: 40px;
    }
}
