
<section class="content">

  <section class="start">
    <h1 id="addResultsHeading">Add new workout results</h1>
    <ol>
      <li>Select user and exercise</li>
      <li>Give the amount of repeats and the used weight</li>
    </ol>
  </section>

  <section class="selectionContainer">
    <section class="row justify-content-center dropdowns">
      <select id="first" class="col-5 form-control form-control-lg" ng-model="selectedUser" (change)="selUser($event.target.value)">
        <option value="select">--Select user--</option>
        <option *ngFor="let user of users" value="{{user.userName}}">{{user.userName}}</option>
        <option value="newUser">New</option>
      </select>
      <p class="col-1 x"></p>
      <select id="second" class="col-5 form-control form-control-lg" ng-model="selectedExercise" (change)="selExercise($event.target.value)">
        <option value="select">--Select exercise--</option>
        <option *ngFor="let exercise of exercises" value="{{exercise.exerciseName}}">{{exercise.exerciseName}}</option>
        <option value="newExercise">New</option>
      </select>
    </section>

    <section class="form-group row justify-content-center">
      <article id="repcontainer" class="col-5">
        <input class="form-control" id="reps" [(ngModel)]="result.Repeats" type="number" min="0" placeholder="Repeats">
      </article>

      <span class="col-1 align-self-end x">X</span>

      <article id="weightcontainer" class="col-5">
        <input class="form-control" id="weig" [(ngModel)]="result.Weight" type="number" min="0" placeholder="Weight">
      </article>
    </section>

  </section>

  <section class="row justify-content-center">
    <button class="btn btn-primary" (click)="addNewResult()">Add result</button>
  </section>



  <section class="row">
    <footer class="footer">
      <div class="foot-container">
        <p id="motivation">“The only bad workout is the one that didn’t happen.”</p>
      </div>
    </footer>
  </section>



</section>
